body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
}

.txbox {
  margin-bottom: 15px;
}

.txbox input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  box-sizing: border-box;
}

.txbox p {
  margin-top: 10px;
  font-weight: bold;
}
