/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.background {
  background-image: url("./assets/wp8825922.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  text-align: center;
}

h1 {
  text-align: center;
}
